.product-list
{
  height: 300px;
  width: 332px;
  overflow-y: scroll;
  padding: 10px;
  margin-top: 10px;
}

.dropdown-btn
{
  width:250px;
  margin-top: 20px;
  margin-bottom: 20px;
} 

.langchanger
{
  width: 80px;
}

.footer
{
  color: #444444;
}

.filter
{
  margin-left: 10px;
  width: 280px;
}

#product_label
{
  margin-left: 10px; 
  margin-top: 5px;
  height: 30px;
}

.product_info
{
  padding: 20px;
}

.vh-50
{
  height: 50vh;
  min-height: 465px;
}

#canvas
{
  width: 100%;
  height:100%;
  min-width: 1800px;
  min-height: 465px;
}

#canvas_container
{
  overflow-x: auto;
  overflow-y: hidden;
}

#footer
{
  margin-top: 0px;
}

.buymeacoffee
{
  margin-top: 10px;
}