.product-list
{
  height: 300px;
  width: 332px;
  overflow-y: scroll;
  padding: 10px;
  margin-top: 10px;
}

.dropdown-btn
{
  width:250px;
  margin-top: 20px;
  margin-bottom: 20px;
} 

.langchanger
{
  width: 80px;
}

.copyright
{
  color: #444444;
}

.filter
{
  margin-left: 10px;
  width: 280px;
}

#product_label
{
  margin-left: 20px; 
  margin-top: 5px;
}